<ion-header>

  <ion-navbar color="primary">
    <ion-title>Trip Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-divider color="light" text-center>
      <h2 *ngIf="location_id == '1'">
        <font>Pangkalan Sultan Abdul Halim (PSAH)</font>
      </h2>
      <h2 *ngIf="location_id == '2'">
        <font>Pangkalan Raja Tun Uda (PRTU)</font>
      </h2>
      <p>{{ service_date | date:'dd, MMMM yyyy'}}</p>
    </ion-item-divider>
    <ion-item *ngIf="!isFull">
      <ion-icon name='boat' item-start color="{{ color_isFull }}"></ion-icon>
      Ferry is vacant</ion-item>
    <ion-item *ngIf="isFull">
      <ion-icon name='boat' item-start color="{{ color_isFull }}"></ion-icon>
      Ferry is full</ion-item>
    <ion-item>
      <ion-icon name='timer' item-start color=secondary></ion-icon>
      Arrival Time
      <ion-note item-end *ngIf="location_id == '1'">
        {{ timetable.FerryRoute.boarding_a | date:'hh:mm a'}}
      </ion-note>
      <ion-note item-end *ngIf="location_id == '2'">
        {{ timetable.FerryRoute.boarding_b | date:'hh:mm a'}}
      </ion-note>
    </ion-item>
    <ion-item *ngIf="isOnTime">
      <ion-icon name='timer' item-start color="{{ color_isOnTime }}"></ion-icon>
      Departure Time
      <ion-note item-end *ngIf="location_id == '1'">
        {{ timetable.FerryRoute.departure_a | date:'hh:mm a'}}
      </ion-note>
      <ion-note item-end *ngIf="location_id == '2'">
        {{ timetable.FerryRoute.departure_b | date:'hh:mm a'}}
      </ion-note>
    </ion-item>
    <ion-item *ngIf="!isOnTime">
      <ion-icon name='speedometer' item-start color="{{ color_isOnTime }}"></ion-icon>
      Delayed Departure
      <ion-note item-end>
        {{ time_depart | date:'hh:mm a'}}
      </ion-note>
    </ion-item>
  </ion-list>
  <p text-center *ngIf="location_id == '2'">
    Available services at Pangkalan Sultan Abdul Halim (PSAH)
  </p>
  <p text-center *ngIf="location_id == '1'">
    Available service at Pangkalan Tun Raja Uda (PRTU)
  </p>
  <div padding *ngIf="location_id == '1'">
    <ion-segment [(ngModel)]="service">
      <ion-segment-button value="bus">
        Bus
      </ion-segment-button>
    </ion-segment>
  </div>
  <div padding *ngIf="location_id == '2'">
    <ion-segment [(ngModel)]="service">
      <ion-segment-button value="bus">
        Bus
      </ion-segment-button>
      <ion-segment-button value="ets">
        ETS
      </ion-segment-button>
      <ion-segment-button value="ktm">
        KTM
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="service">
    <ion-list *ngSwitchCase="'bus'">
      <ion-item>
        <ion-note item-start>Destination</ion-note>
        <ion-note item-end>Departure Time</ion-note>
      </ion-item>
      <ion-item *ngFor="let timetable of timetables">
        <h2> {{ timetable.Route.destination }} </h2>
        <ion-note item-start> {{ timetable.Route.name }} </ion-note>
        <ion-note item-end>
          {{ timetable.RouteTimetable.departure_a | date:'hh:mm a' }}
        </ion-note>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'ets'">
      <ion-item>
        <ion-note item-start>Destination</ion-note>
        <ion-note item-end>Departure Time</ion-note>
      </ion-item>
      <ion-item *ngFor="let etstrip of etsTrips">
        <h2> {{ etstrip.Route.destination }} </h2>
        <ion-note item-start> {{ etstrip.Route.name }} </ion-note>
        <ion-note item-end>
          {{ etstrip.RouteTimetable.departure_a | date:'hh:mm a' }}
        </ion-note>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'ktm'">
      <ion-item>
        <ion-note>Not yet implemented.</ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
