page-home {
    .ferry-header {
        background-image: url('/assets/img/ferry-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 60% 20%; 
    }
    
    .time {
        font-size: 20px;
        font-weight: bolder;
    }
}
