<ion-header>
  <ion-navbar>
    <ion-title>Schedules</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment color="primary" [(ngModel)]="location">
      <ion-segment-button value="PRTU" (ionSelect)="setLocation($event)">
        Island
      </ion-segment-button>
      <ion-segment-button value="PSAH" (ionSelect)="setLocation($event)">
        Mainland
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
</ion-header>

<ion-content padding class="home">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-divider>
      <ion-note>
        Ferry Status
      </ion-note>
      <ion-note item-end>
        Arrival
      </ion-note>
      <ion-note item-end>
        Departure
      </ion-note>
    </ion-item-divider>
    <ion-item *ngFor="let timetable of timetables" (click)="getDetail(timetable)">
      <ion-icon name='boat' item-start color="{{ timetable.FerryRoute.color_isFull}}"></ion-icon>
      <ion-icon name='timer' item-start color="{{ timetable.FerryRoute.color_isOnTime}}"></ion-icon>
      <ion-note item-end *ngIf="location == 'PSAH'">
        {{ timetable.FerryRoute.boarding_a | date:'hh:mm a' }}
      </ion-note>
      <ion-note item-end *ngIf="location == 'PRTU'">
        {{ timetable.FerryRoute.boarding_b | date:'hh:mm a' }}
      </ion-note>

      <ion-note item-end *ngIf="location == 'PSAH'">
        {{ timetable.FerryRoute.departure_a | date:'hh:mm a' }}
      </ion-note>
      <ion-note item-end *ngIf="location == 'PRTU'">
        {{ timetable.FerryRoute.departure_b | date:'hh:mm a' }}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
