page-information-page {

  ion-content {
    background-image: url('/assets/img/home320.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  }

  .salution {
    margin-top: 30%;
    font-size: 40px; 
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
  }

}
