<ion-content>
  <div>
    <ion-row>
      <ion-col text-center>
        <img src="assets/img/logo_subsidiary.png">
        <!-- <img src="assets/img/rapidrail_white.png"> -->
      </ion-col>
    </ion-row>
    <div class="ferry-dashboard">
      <ion-row class="transbox-header">
        <ion-col width-50 text-center>
          Terminal
        </ion-col>
        <ion-col width-50 text-center>
          Departure
        </ion-col>
      </ion-row>
      <ion-row class="transbox" *ngFor="let timetable of psah"  (click)="getDetail(timetable)">
        <ion-col width-50 text-center>
          PSAH <small>mainland</small><br/>
          <small *ngIf="timetable.FerryRoute.isFull" style="color:red;">Full load</small>
        </ion-col>
        <ion-col width-50 text-center>
          {{ timetable.FerryRoute.departure_a | date:'hh:mm a' }}<br/>
          <small *ngIf="!timetable.FerryRoute.isOnTime" style="color:red;">Delayed</small>
        </ion-col>
      </ion-row>
      <ion-row class="transbox" *ngFor="let timetable of prtu"  (click)="getDetail(timetable)">
        <ion-col width-50 text-center>
          PRTU <small>island</small><br/>
          <small *ngIf="timetable.FerryRoute.isFull" style="color:red;">Full load</small>
        </ion-col>
        <ion-col width-50 text-center>
          {{ timetable.FerryRoute.departure_b | date:'hh:mm a' }}<br/>
          <small *ngIf="!timetable.FerryRoute.isOnTime" style="color:red;">Delayed</small>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
