<ion-header>
  <ion-toolbar>

    <ion-row>
      <ion-col text-center>
        <img src="./assets/img/rapid_ferry.png">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>

    <img src="./assets/img/map.png">

    <ion-item *ngFor="let timetable of prtu" (click)="getDetail(timetable)">
      <ion-icon name="pin" item-start large color="danger"></ion-icon>
      <h2>Island</h2>
      <p>George Town
        <small *ngIf="timetable.FerryRoute.isFull" class="blink" style="color:red;">Full load</small></p>
      <h2>Departure: {{ timetable.FerryRoute.departure_a | date:'hh:mm a' }} <small *ngIf="!timetable.FerryRoute.isOnTime" class="blink"
          style="color:red;">Delayed</small>
      </h2>
      <ion-icon name="arrow-forward" item-end></ion-icon>

    </ion-item>

    <ion-item *ngFor="let timetable of psah" (click)="getDetail(timetable)">
      <ion-icon name="pin" item-left large color="primary"></ion-icon>
      <h2>Mainland</h2>
      <p>Butterworth
        <small *ngIf="timetable.FerryRoute.isFull" class="blink" style="color:red;">Full load</small></p>
      <h2>Departure: {{ timetable.FerryRoute.departure_b | date:'hh:mm a' }} <small *ngIf="!timetable.FerryRoute.isOnTime" class="blink"
          style="color:red;">Delayed</small>
      </h2>
      <ion-icon name="arrow-forward" item-end></ion-icon>

    </ion-item>
    <!-- <img src="./assets/img/logo_subsidiary-200.jpg"> -->
  </ion-card>

</ion-content>
